
.fog {
    padding-top: 2.5%;
}
.byad {
    color: blanchedalmond;
    position: absolute;
    left: 164px;
    bottom: 14px;
}
.soso {
    position: relative;
    
}
.cart {
    padding-top: 5%;
    padding-left: 0%;
    padding-right: 10px;
}
.kber {
font-size: 25px;
color: #4285f4;
}
.divo {
    text-align: center;
}
.fogo {
    margin-top: 40px;
}

.pho {
   width: 100%;
   height: 100%;
}
.butt1{
    margin-top: 100px ;
}
.dispo {
    background-image: url(../img/regi.jpg);
    background-size: 100%;
}

@media only screen and (max-width: 768px) {
.dispo {
    display: none;
}}