

.toll {
    padding: 0%;
    overflow: hidden;
    border-radius: 8px;
}
.fog {
    padding-top: 2.5%;
}
.byad {
    color: blanchedalmond;
    position: absolute;
    left: 164px;
    bottom: 14px;
}
.soso {
    position: relative;
    
}
.cart {
    padding-top: 5%;
    padding-left: 0%;
    padding-right: 10px;
}
.kber {
font-size: 25px;
color: #4285f4;
}
.divo {
    text-align: center;
}
.fogo {
    margin-top: 40px;
    padding-bottom: 40px;
  
}

.pho {
   width: 100%;
    height: 100%; 
}
.butt1{
   margin-top: 40px ;
}
.dispo {
    background-image: url(regi.jpg);
     background-size:cover ; 
    background-repeat: no-repeat;

}

.feet{
    
    background-color: #37474f;
}
.bono {
    height: 200px;
    border: solid 1px black;
}
.poop:hover {
    color: blue;
}

@media only screen and (max-width: 768px) {
.dispo {
    display: none;
}}

@media only screen and (min-width: 1080px) {
    .fogo {
        height: 617px;
    }
}
@media only screen and (max-width: 768px){
    
    .lili {
        display: inline;
    }
    .lolo {
        display: inline-block;
        padding-right: 20px;
        
    }
    
}