<html lang="en">

  <head>
        <!-- Required meta tags-->
        <meta charset="UTF-8">

       <!-- Title Page-->
       <title>Dashboard</title>

       <!-- Fontfaces CSS-->
       <link href="font-face.css" rel="stylesheet" media="all">
       <link href="vendors/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
       <link href="vendors/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

       <!-- Bootstrap CSS-->
       <link href="vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="all">
 
       <!--  Vendor CSS -->
         <link href="vendors/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all"> 
         <link href="vendors/select2/select2.min.css" rel="stylesheet" media="all"> 

       <!-- Main CSS -->
       <link href="css/theme.css" rel="stylesheet" media="all">
<style>

    .dispNone{
        display:none;
        
    }
    .cursor{
        cursor: pointer;
    }
  
    .dispAct:hover .dispNone{
        display:block;
        cursor: pointer;
        
    }
    .trSearch{
        color:black !important
    }
  
</style>
  </head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop3 d-none d-lg-block">
            <div class="section__content section__content--p35">
                <div class="header3-wrap">
                    <div class="header__logo">
                        <a href="#">
                            <img src="https://coliance.co/wp-content/uploads/2020/03/logo-agora-png-w.png" style="width:160px; height:22px;" alt="AdminLogo" />
                        </a>
                    </div>
                    <div class="header__navbar">
                        <ul class="list-unstyled">
                            <li class="has-sub">
                                <a href="#">
                                    <i class="fas fa-tachometer-alt"></i>Dashboard
                                    <span class="bot-line"></span>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.google.com">
                                    <i class="fas fa-shopping-basket"></i>
                                    <span class="bot-line"></span> Store</a>
                            </li>
                            <li>
                                <a href="#prls">
                                    <i class="fab fa-product-hunt"></i>
                                    <span class="bot-line"></span>Products</a>
                            </li>
                            <li class="has-sub">
                                <a href="#usls">
                                    <i class="fas fa-users"></i>
                                    <span class="bot-line"></span>Users</a>
                            </li>

                        </ul>
                    </div>
                    <div class="header__tool">
                        <div class="header-button-item has-noti js-item-menu">
                            <i class="zmdi zmdi-notifications"></i>
                            <div class="notifi-dropdown notifi-dropdown--no-bor js-dropdown">
                                <div class="notifi__title">
                                    <p>You have 3 Notifications</p>
                                </div>
                                <div class="notifi__item">
                                    <div class="bg-c1 img-cir img-40">
                                        <i class="zmdi zmdi-email-open"></i>
                                    </div>
                                    <div class="content">
                                        <p>You got a email notification</p>
                                        <span class="date">April 12, 2018 06:50</span>
                                    </div>
                                </div>
                                <div class="notifi__item">
                                    <div class="bg-c2 img-cir img-40">
                                        <i class="zmdi zmdi-account-box"></i>
                                    </div>
                                    <div class="content">
                                        <p>Your account has been blocked</p>
                                        <span class="date">April 12, 2018 06:50</span>
                                    </div>
                                </div>
                                <div class="notifi__item">
                                    <div class="bg-c3 img-cir img-40">
                                        <i class="zmdi zmdi-file-text"></i>
                                    </div>
                                    <div class="content">
                                        <p>You got a new file</p>
                                        <span class="date">April 12, 2018 06:50</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        
                        <div class="account-wrap">
                            <div class="account-item account-item--style2 clearfix js-item-menu">
                                <div class="image">
                                <img src="img/icon/avatar-03.jpg" alt="{{adminName}}" />
                                </div>
                                <div class="content">
                                    <a class="js-acc-btn" href="#">{{adminName}}</a>
                                </div>
                                <div class="account-dropdown js-dropdown">
                                    <div class="info clearfix">
                                        <div class="image">
                                            <a href="#">
                                                <img src="img/icon/avatar-01.jpg" alt="{{adminName}}" />
                                            </a>
                                        </div>
                                        <div class="content">
                                            <h5 class="name">
                                                <a href="#">{{adminName}}</a>
                                            </h5>
                                        <span class="email">{{adminEmail}}</span>
                                        </div>
                                    </div>
                                    <div class="account-dropdown__body">
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="zmdi zmdi-account"></i>Account</a>
                                        </div>
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="zmdi zmdi-settings"></i>Setting</a>
                                        </div>
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="zmdi zmdi-money-box"></i>Billing</a>
                                        </div>
                                    </div>
                                    <div class="account-dropdown__footer">
                                        <a href="/admin/logout">
                                            <i class="zmdi zmdi-power"></i>Logout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- END HEADER DESKTOP-->

        <!-- HEADER MOBILE-->
        <header class="header-mobile header-mobile-2 d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="img/icon/logo-white.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                        </li>
                        <li>
                            <a href="chart.html">
                                <i class="fas fa-chart-bar"></i>Charts</a>
                        </li>
                        <li>
                            <a href="table.html">
                                <i class="fas fa-table"></i>Tables</a>
                        </li>
                        <li>
                            <a href="form.html">
                                <i class="far fa-check-square"></i>Forms</a>
                        </li>
                        <li>
                            <a href="calendar.html">
                                <i class="fas fa-calendar-alt"></i>Calendar</a>
                        </li>
                        <li>
                            <a href="map.html">
                                <i class="fas fa-map-marker-alt"></i>Maps</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>Pages</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="login.html">Login</a>
                                </li>
                                <li>
                                    <a href="register.html">Register</a>
                                </li>
                                <li>
                                    <a href="forget-pass.html">Forget Password</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-desktop"></i>Settings</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="button.html">Button</a>
                                </li>
                                <li>
                                    <a href="badge.html">Badges</a>
                                </li>
                                <li>
                                    <a href="tab.html">Tabs</a>
                                </li>
                                <li>
                                    <a href="card.html">Cards</a>
                                </li>
                                <li>
                                    <a href="alert.html">Alerts</a>
                                </li>
                                <li>
                                    <a href="progress-bar.html">Progress Bars</a>
                                </li>
                                <li>
                                    <a href="modal.html">Modals</a>
                                </li>
                                <li>
                                    <a href="switch.html">Switchs</a>
                                </li>
                                <li>
                                    <a href="grid.html">Grids</a>
                                </li>
                                <li>
                                    <a href="fontawesome.html">Fontawesome Icon</a>
                                </li>
                                <li>
                                    <a href="typo.html">Typography</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="sub-header-mobile-2 d-block d-lg-none">
            <div class="header__tool">
                <div class="header-button-item has-noti js-item-menu">
                    <i class="zmdi zmdi-notifications"></i>
                    <div class="notifi-dropdown notifi-dropdown--no-bor js-dropdown">
                        <div class="notifi__title">
                            <p>You have 3 Notifications</p>
                        </div>
                        <div class="notifi__item">
                            <div class="bg-c1 img-cir img-40">
                                <i class="zmdi zmdi-email-open"></i>
                            </div>
                            <div class="content">
                                <p>You got a email notification</p>
                                <span class="date">April 12, 2018 06:50</span>
                            </div>
                        </div>
                        <div class="notifi__item">
                            <div class="bg-c2 img-cir img-40">
                                <i class="zmdi zmdi-account-box"></i>
                            </div>
                            <div class="content">
                                <p>Your account has been blocked</p>
                                <span class="date">April 12, 2018 06:50</span>
                            </div>
                        </div>
                        <div class="notifi__item">
                            <div class="bg-c3 img-cir img-40">
                                <i class="zmdi zmdi-file-text"></i>
                            </div>
                            <div class="content">
                                <p>You got a new file</p>
                                <span class="date">April 12, 2018 06:50</span>
                            </div>
                        </div>
                        <div class="notifi__footer">
                            <a href="#">All notifications</a>
                        </div>
                    </div>
                </div>
                <div class="header-button-item js-item-menu">
                    <i class="zmdi zmdi-settings"></i>
                    <div class="setting-dropdown js-dropdown">
                        <div class="account-dropdown__body">
                            <div class="account-dropdown__item">
                                <a href="#">
                                    <i class="zmdi zmdi-account"></i>Account</a>
                            </div>
                            <div class="account-dropdown__item">
                                <a href="#">
                                    <i class="zmdi zmdi-settings"></i>Setting</a>
                            </div>
                            <div class="account-dropdown__item">
                                <a href="#">
                                    <i class="zmdi zmdi-money-box"></i>Billing</a>
                            </div>
                        </div>
                        <div class="account-dropdown__body">
                            <div class="account-dropdown__item">
                                <a href="#">
                                    <i class="zmdi zmdi-globe"></i>Language</a>
                            </div>
                            <div class="account-dropdown__item">
                                <a href="#">
                                    <i class="zmdi zmdi-pin"></i>Location</a>
                            </div>
                            <div class="account-dropdown__item">
                                <a href="#">
                                    <i class="zmdi zmdi-email"></i>Email</a>
                            </div>
                            <div class="account-dropdown__item">
                                <a href="#">
                                    <i class="zmdi zmdi-notifications"></i>Notifications</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="account-wrap">
                    <div class="account-item account-item--style2 clearfix js-item-menu">
                        <div class="image">
                            <img src="img/icon/avatar-01.jpg" alt="John Doe" />
                        </div>
                        <div class="content">
                            <a class="js-acc-btn" href="#">Imad Mansour</a>
                        </div>
                        <div class="account-dropdown js-dropdown">
                            <div class="info clearfix">
                                <div class="image">
                                    <a href="#">
                                        <img src="img/icon/avatar-01.jpg" alt="Imad" />
                                    </a>
                                </div>
                                <div class="content">
                                    <h5 class="name">
                                        <a href="#">Imad Mansour</a>
                                    </h5>
                                    <span class="email">i.mansour@esi-sba.dz</span>
                                </div>
                            </div>
                            <div class="account-dropdown__body">
                                <div class="account-dropdown__item">
                                    <a href="#">
                                        <i class="zmdi zmdi-account"></i>Account</a>
                                </div>
                                <div class="account-dropdown__item">
                                    <a href="#">
                                        <i class="zmdi zmdi-settings"></i>Setting</a>
                                </div>
                                <div class="account-dropdown__item">
                                    <a href="#">
                                        <i class="zmdi zmdi-money-box"></i>Billing</a>
                                </div>
                            </div>
                            <div class="account-dropdown__footer">
                                <a href="#">
                                    <i class="zmdi zmdi-power"></i>Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END HEADER MOBILE -->

        <!-- PAGE CONTENT-->
        <div class="page-content--bgf7">
            <!-- BREADCRUMB-->
            <section class="au-breadcrumb2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="au-breadcrumb-content">
                                <div class="au-breadcrumb-left">
                                    <span class="au-breadcrumb-span">You are here:</span>
                                    <ul class="list-unstyled list-inline au-breadcrumb__list">
                                        <li class="list-inline-item active">
                                            <a href="#">Home</a>
                                        </li>
                                        <li class="list-inline-item seprate">
                                            <span>/</span>
                                        </li>
                                        <li class="list-inline-item">Dashboard</li>
                                    </ul>
                                </div>
                                <form  action="/admin" method="POST" class="au-form-icon--sm">
                                    <input class="au-input--w300 au-input--style2" id="query" type="text" name="OrderId" placeholder="Search for Order By Id">
                                    <button class="au-btn--submit2" id="wait" name="ana"   data-toggle="modal" data-target="#OrderMosal" >
                                        <i class="zmdi zmdi-search"></i>
                                    </button>
                                </form>  
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END BREADCRUMB-->

            <!-- WELCOME-->
            <section class="welcome p-t-10">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="title-4">Welcome back
                                <span>{{adminName}}!</span>
                            </h1>
                            <hr class="line-seprate">
                        </div>
                    </div>
                </div>
            </section>
            <!-- END WELCOME-->

            <!-- STATISTIC-->
            <section class="statistic statistic2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="statistic__item statistic__item--green">
                                <h2 class="number">{{nmbrUsers}}</h2>
                                <span class="desc">Users Number</span>
                                <div class="icon">
                                    <i class="zmdi zmdi-account-o"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="statistic__item statistic__item--orange">
                                <h2 class="number">388,688</h2>
                                <span class="desc">Product sold</span>
                                <div class="icon">
                                    <i class="zmdi zmdi-shopping-cart"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="statistic__item statistic__item--blue">
                                <h2 class="number">1,086</h2>
                                <span class="desc">This week</span>
                                <div class="icon">
                                    <i class="zmdi zmdi-calendar-note"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="statistic__item statistic__item--red">
                                <h2 class="number">$1,060,386</h2>
                                <span class="desc">Total earnings</span>
                                <div class="icon">
                                    <i class="zmdi zmdi-money"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END STATISTIC-->
                
             

            <!-- DATA TABLE-->
            <section class="p-t-20">
                <div class="container">
                    <!--ORDERS TABLE-->
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="title-1 m-b-25">Orders List</h2>
                            <div class="table-responsive table--no-card m-b-50">
                                <table class="table table-borderless table-data3">
                                    <thead>
                                         <tr>                                                                            
                                             <th>Order ID</th>
                                             <th>ClientName</th>
                                             <th>date</th>
                                             <th>List</th>
                                             <th>Total</th>
                                             <th>process</th>
                                        </tr>
                                    </thead>
                                    <tbody class="cursor">

                                         @each(list in orderSearch)
                                            <tr class="trSearch">
                                                <td class="orderSearch">{{list.orderId}}</td>  
                                                <td  class="orderSearch">{{list.user.name}}</td>
                                                <td  class="orderSearch">{{list.createdAt}}</td>
                                                <td class="orderSearch">
                                                @set('x',0)
                                                @each(list2 in list.items) 
                    
                    
                                                    @if($loop.index==0)
                                                        <div class="orderSearch">{{$loop.index+1}}  -  {{list2.product.title}}({{list2.quantity}})</div>
                                                    @elseif($loop.index>0)
                                                        <div class="orderSearch dispNone">   {{$loop.index+1}}  -  {{list2.product.title}}({{list2.quantity}})</div><br>
                                                    @endif                                                 
                                                    @set('total',x + list2.product.price * list2.quantity)
                                                    
                                                @endeach
                                                </td> 
                          
                                            <td class="orderSearch">{{total}}</td>
                                                <td class="orderSearch">  
                                                    <div class="table-data-feature">
                                                         <button   class="item"   data-toggle="tooltip" data-placement="top" title="Send to Client"  onclick=" confirm('prepare this list');location.href='admin/delete/{{list2._id}}?item=order'">
                                                             <i class="zmdi zmdi-check"></i>
                                                        </button> 
                                                        <button class="item" data-toggle="tooltip" data-placement="top" title="More" data-toggle="modal"  data-target="#orderDetailModal">
                                                            <i class="zmdi zmdi-more"></i>
                                                        </button>
                                                    </div>
                                                </td>

                    
                                            </tr>
                                        @endeach
                                        <div class="modal fade" id="orderDetailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                                                </div>
                                                <div class="modal-body">
                                                  ...
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                  <button type="button" class="btn btn-primary">Save changes</button>
                                                </div>
                                              </div>
                                            </div>
                                          </div>                                             
                    
                                        @each(ls2 in allOrders)  
                                            <tr class="dispAct">
                                                    <td>{{ls2.orderId}}</td>
                                                    <td>{{ls2.user.name}}</td>
                                                    <td>{{ls2.date}}</td>
                                                    <td class="clr">
                                                    @set('x1',0)
                                                    @each(ls21 in ls2.items) 
                    
                    
                                                        @if($loop.index==0) 
                                                            <div class="clr">      {{$loop.index+1}}  -  {{ls21.product.title}} ({{ls21.quantity}}) <div><br>
                                                        @elseif($loop.index>0)
                                                            <div class="dispNone"> {{$loop.index+1}}  - {{ls21.product.title}}  ({{ls21.quantity}}) </div><br>
                                                        @endif
                                                        @set('total2',x1 + ls21.product.price * ls21.quantity)

                                                    @endeach
                                                    </td>
                                                    <td class="process">{{total2}}$</td>
                                                    <td> 
                                                        <div class="table-data-feature">
                                                            <button   class="item"   data-toggle="tooltip" data-placement="top" title="Send to Client" onclick=" confirm(' Are you ready to prepare this order --{{ls2.orderId}}-- ');location.href='admin/delete/{{ls2._id}}?item=order'">
                                                                <i class="zmdi zmdi-check"></i>
                                                            </button>  
                                                            <button class="item" data-toggle="tooltip" data-placement="top" title="More" data-toggle="modal"  data-target="#orderDetailModal" >
                                                                <i class="zmdi zmdi-more"></i>
                                                            </button>             
                                                        </div>

                                                    </td>
                    
                                            </tr>
                                        @endeach 
                    
                                    </tbody>
                                </table>
                            </div>
                        <!-- END DATA TABLE -->
                        </div>
                    </div>
                    <div class="row" id="prls">
                        <div class="col-md-12">
                            <h2 class="title-1 m-b-25" >Products List</h2>
                            <div class="table-data__tool">
                                    <div class="table-data__tool-left">  
                                    </div>  
                                <div class="table-data__tool-right">
                                    <button class="au-btn au-btn-icon au-btn--green au-btn--small"  data-toggle="modal" data-target="#exampleModal"> 
                                        <i class="zmdi zmdi-plus"></i>Add Product</button>
                                        <button class="btn btn-primary" data-toggle="modal" data-target="#CategoryModal">
                                            <i class="zmdi zmdi-plus"></i>Add Category</button>
                                </div>
                    <!--Form add delete-->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Product information</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <form action="/admin/:addPr" method="POST">
                                <div class="form-group">
                      
                      
                                  <label class="col-form-label"  type="text" >Title:</label>
                                  <input type="text" class="form-control" id="title" name="title"   placeholder="Enter Product Title"  required>
                      
                                  <br>
                      
                                      <label for="exampleFormControlSelect1">Category:</label>
                                      <select class="form-control" id="category" name="category">
                                          <option>addCategory</option>      
                                  @each(ls3 in categoryList)
                                          <option>{{ls3.title}}</option>
                                  @endeach
                                      </select>

                                 <br>
                      
                                  <label for="recipient-name" class="col-form-label">Price:</label>
                                  <input type="number" class="form-control" id="price" placeholder="Enter Price" name="price" required>
                                  
                                 
                                </div>
                                <div class="form-group">
                                  <label for="message-text" class="col-form-label">Description:</label>
                                  <textarea class="form-control" id="description" name="description" required></textarea>
                                </div>
                      
                                <!--dont touch it-->
                                <input  id="myid" type="text"  name="id" style="display:none" >
                              
                                <label for="recipient-name" class="col-form-label">Image Upload(should be in public/img):</label>
                                <input type="file" id="myFile" name="imagePath" size="50" >

                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                          </div>
                        </div>
                      </div>
                            </div>
                       <!--Add Category-->
                       <div class="modal fade" id="CategoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Category information</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <form action="/admin/:catDel" method="POST">
                                <div class="form-group">
                      
                      
                                  <label class="col-form-label"  type="text" >Category Name:</label>
                                  <input type="text" class="form-control" id="CatTitle" name="CatTitle"   placeholder="Enter Product Title"  required>     
                                </div>


                                <!--dont touch it-->
                                <input  id="CategoryId" type="text"  name="CtrId" style="display:none" >
                              
                             </div>
                             <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-primary">Submit</button>
                             </div>
                            </form>
                          </div>
                        </div>
                      </div>

                       <!--End Category Form-->
                            <div class="table-responsive table-responsive-data2">
                                <table class="table table-data2">
                                    <thead>
                                        <tr>

                                            <th>name</th>
                                            <th>image url</th>
                                            <th>description</th>
                                            <th>Category</th>
                                            <th>price</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>

 
 
                                    @each(ls in productInfo)
                                        <tr class="tr-shadow">
                                            <td class="desc">{{ ls.title }}</td>
                                            <td>
                                                <div class="input-group input-group-sm mb-1">
                                                    <input type="text"  class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" value="{{ls.imageURL}}" disabled>
                                                    <img src="{{ls.imageURL}}" alt="Avatar" style="  border-radius: 50%;width:30px;margin-left:10px"></td>
                                                </div>
                                            <td >{{ ls.description }}</td> 
                                            <td>
                                                {{ ls.category }}
                                            </td>
                                            <td><span class="status--process">{{ ls.price }}$</span>  </td>
                                            <td>
                                                <div class="table-data-feature">
                                                    <button  id="id{{$loop.index}}" class="item "  data-placement="top" title="Edit" onclick="editForm({{strList}},{{$loop.index}})" data-toggle="X" data-target="X" >

                                                        <i class="zmdi zmdi-edit"></i>
                                                    </button>
                                                    <button   class="item" data-toggle="tooltip" data-placement="top" title="Delete" onclick=" confirm('Are you sure to delete this product ?');location.href='admin/delete/{{ls._id}}?item=product'">
                                                        <i class="zmdi zmdi-delete"></i>
                                                    </button>

                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="spacer">
                                        </tr>
                                        @endeach
                                    </tbody>

                                </table>
                            </div>
                            <br><br><br>

                            <!--Users Table-->
                            <div class="row" id="usls">
                                <div class="col-lg-9">
                                    <h2 class="title-1 m-b-25">Users List</h2>
                                    <div class="table-responsive table--no-card m-b-40">
                                        <table class="table table-borderless table-striped table-earning">
                                            <thead>
                                                <tr>
                                                    <th>UserName</th>
                                                    <th>Email</th>
                                                    <th>Phone</th>
                                                    <th></th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Imad</td>
                                                    <td>Imad@gmail.dz</td>
                                                    <td>07982934</td>
                                                    <td>
                                                        <div class="table-data-feature">
                                                            <button   class="item" data-toggle="tooltip" data-placement="top" title="Delete" onclick=" confirm('Are you sure to delete this user ?');location.href='admin/delete/{{ls1._id}}?item=user'">
                                                                <i class="zmdi zmdi-delete"></i>
                                                            </button>
                                                            <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                                <i class="zmdi zmdi-more"></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Imad</td>
                                                    <td>Imad@gmail.dz</td>
                                                    <td>07982934</td>
                                                    <td>
                                                        <div class="table-data-feature">
                                                            <button   class="item" data-toggle="tooltip" data-placement="top" title="Delete" >
                                                                <i class="zmdi zmdi-delete"></i>
                                                            </button>
                                                            <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                                <i class="zmdi zmdi-more"></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Imad</td>
                                                    <td>Imad@gmail.dz</td>
                                                    <td>07982934</td>
                                                    <td>
                                                        <div class="table-data-feature">
                                                            <button   class="item" data-toggle="tooltip" data-placement="top" title="Delete" >
                                                                <i class="zmdi zmdi-delete"></i>
                                                            </button>
                                                            <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                                <i class="zmdi zmdi-more"></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                
                                                <tr>
                                                    <td>Imad</td>
                                                    <td>Imad@gmail.dz</td>
                                                    <td>07982934</td>
                                                    <td>
                                                        <div class="table-data-feature">
                                                            <button   class="item" data-toggle="tooltip" data-placement="top" title="Delete" >
                                                                <i class="zmdi zmdi-delete"></i>
                                                            </button>
                                                            <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                                <i class="zmdi zmdi-more"></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Imad</td>
                                                    <td>Imad@gmail.dz</td>
                                                    <td>07982934</td>
                                                    <td>
                                                        <div class="table-data-feature">
                                                            <button   class="item" data-toggle="tooltip" data-placement="top" title="Delete" >
                                                                <i class="zmdi zmdi-delete"></i>
                                                            </button>
                                                            <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                                <i class="zmdi zmdi-more"></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Imad</td>
                                                    <td>Imad@gmail.dz</td>
                                                    <td>07982934</td>
                                                    <td>
                                                        <div class="table-data-feature">
                                                            <button   class="item" data-toggle="tooltip" data-placement="top" title="Delete" >
                                                                <i class="zmdi zmdi-delete"></i>
                                                            </button>
                                                            <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                                <i class="zmdi zmdi-more"></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                             @each(ls1 in userInfo)   
                                                <tr>
                                                    <td>{{ls1.username}}</td>
                                                    <td>{{ls1.email}}</td>
                                                    <td>{{ls1.phone}}</td>
                                                    <td>
                                                        <div class="table-data-feature">
                                                            <button   class="item" data-toggle="tooltip" data-placement="top" title="Delete" onclick=" confirm('Are you sure to delete this user ?');location.href='admin/delete/{{ls1._id}}?item=user'" >
                                                                <i class="zmdi zmdi-delete"></i>
                                                            </button>
                                                            <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                                <i class="zmdi zmdi-more"></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            @endeach    
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <h2 class="title-1 m-b-25">Top Client</h2>
                                    <div class="au-card au-card--bg-blue au-card-top-countries m-b-40">
                                        <div class="au-card-inner">
                                            <div class="table-responsive">
                                                <table class="table table-top-countries">
                                                    <tbody>
                                                        <tr>
                                                            <td>Imad Eddine</td>
                                                            <td class="text-right">$119,366.96</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Yacine kharoubi</td>
                                                            <td class="text-right">$70,261.65</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Feddag Mohammed</td>
                                                            <td class="text-right">$46,399.22</td>
                                                        </tr>

                                                        <tr>
                                                            <td>Taous Amara</td>
                                                            <td class="text-right">$35,364.90</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Iness </td>
                                                            <td class="text-right">$20,366.96</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Imad Eddine</td>
                                                            <td class="text-right">$119,366.96</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Yacine kharoubi</td>
                                                            <td class="text-right">$70,261.65</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Feddag Mohammed</td>
                                                            <td class="text-right">$46,399.22</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                      </div>
                </div>
                
            </section>
            <!-- END DATA TABLE-->
            <!-- ORDER TABLE-->
            
            <!-- COPYRIGHT-->
            <section class="p-t-60 p-b-20">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyright © 2020 2CPI Project <a href="https://github.com/Neoxs/Projet_2CPI">Guithub</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END COPYRIGHT-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="vendors/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="vendors/bootstrap/js/popper.min.js"></script>
    <script src="vendors/bootstrap/js/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="vendors/animsition/animsition.min.js"></script>
    <script src="vendors/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="vendors/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="js/main.js"></script>
    
    <!-- jquery script -->

    <script src="vendors/jquery-3.5.1.slim.min.js"></script>


    <script>      
      function editForm(ls,index) {
         var ed = index.toString();
         ed="#"+"id"+ed;
         document.querySelector(ed).setAttribute("data-toggle", "modal"); 
         document.querySelector(ed).setAttribute("data-target", "#exampleModal"); 
         document.getElementById("title").value = ls[index].title;
         document.getElementById("price").value = ls[index].price;
         document.getElementById("category").value = ls[index].category;
         document.getElementById("description").value = ls[index].description;
         document.getElementById("myid").value = ls[index]._id;
        }
    </script>
</body>

</html>
<!-- end document-->
