<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <!-- Google Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="/vendors/bootstrap/css/bootstrap.min.css">
        <!-- Material Design Bootstrap -->
        <link href="/vendors/mdb/css/mdb.min.css" rel="stylesheet">
        
        <link rel="stylesheet" href="/css/registration.css" >
        <title>{{ pageTitle || 'Document'}}</title>
    </head>
    <body>
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark special-color">

            <!-- Navbar brand -->
            <a class="navbar-brand" href="#">Navbar</a>
        
            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">
            
                <!-- Links -->
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item active fog">
                    <a class="nav-link " href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                    </li>
                    <li class="nav-item fog">
                    <a class="nav-link " href="#">categories</a>
                    </li>
                    <li class="nav-item fog">
                        <a class="nav-link " href="#">contacts</a>
                    </li>
                    
                    <li class="nav-item ">
                    <a class="nav-link btn btn-outline-primary waves-effect  " href="#">log in</a>
                    </li>
                    <li class="nav-item cart"> <i class="fas fa-shopping-cart kber"></i></li>
            
                    <!-- Dropdown -->
                </ul>
                <!-- Links -->
        
                <form class="form-inline soso">
                    <div class="md-form my-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <i class="fas fa-search byad  "></i>
                    </div>
                </form>
            </div>
            <!-- Collapsible content -->
            
        </nav>
            <!--/.Navbar-->
        @!section('main-content')
            
        <!-- footer section  -->
        <!-- Footer -->
        <footer class="page-footer font-small feet pt-4">

            <!-- Footer Links -->
            <div class="container text-center text-md-left">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

                        <!-- Content -->
                        <h5 class="font-weight-bold text-uppercase mb-4">Footer content</h5>
                        <p>uu can get in the section these informations :</p>
                        <p>informations about our shop
                            <br> our Social media acounts
                            <br> our localisation
                            <br> our contacts</p>

                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none">

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

                        <!-- Links -->
                        <h5 class="font-weight-bold text-uppercase mb-4">About</h5>

                        <ul class="list-unstyled lili">
                            <li class="lolo">
                                <p class="poop">
                                    <a href="#!">WORK TIMES</a>
                                </p>
                            </li>
                            <li class="lolo">
                                <p>
                                    <a href="#!">ABOUT US</a>
                                </p>
                            </li>
                            <li class="lolo">
                                <p>
                                    <a href="#!">BLOG</a>
                                </p>
                            </li>
                            <li class="lolo">
                                <p>
                                    <a href="#!">CERTIFICATIONS</a>
                                </p>
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none">

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

                        <!-- Contact details -->
                        <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>

                        <ul class="list-unstyled">
                            <li>
                                <p>
                                    <i class="fas fa-home mr-3"></i> sidi belabbes</p>
                            </li>
                            <li>
                                <p>
                                    <i class="fas fa-envelope mr-3"></i> info@example.com</p>
                            </li>
                            <li>
                                <p>
                                    <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                            </li>
                            <li>
                                <p>
                                    <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none">

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

                        <!-- Social buttons -->
                        <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>

                        <!-- Facebook -->
                        <a type="button" class="btn-floating btn-fb">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <!-- Twitter -->
                        <a type="button" class="btn-floating btn-tw">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <!-- Google +-->
                        <a type="button" class="btn-floating btn-gplus">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                        <!-- Dribbble -->
                        <a type="button" class="btn-floating btn-dribbble">
                            <i class="fab fa-instagram"></i>
                        </a>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Footer Links -->

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2020 Copyright:
                <a href="Agora.com/"> Agora.com</a>
            </div>
            <!-- Copyright -->

        </footer>
            
        <!-- JQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.0/js/mdb.min.js"></script>
        <script src="/js/register.js"></script>
        <script src="/js/home.js"></script>
        @if(pageTitle == "register")
            <script src="/js/logic/index.js"></script>
        @endif
    </body>

</html>
    
