
<head>
     
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="../../public/vendors/mdb/css/mdb.min.css" rel="stylesheet">
    <style>
   

        /*navbar*/

.caro {

height : 40% !important;
}
.byad {
    color: white;
    position: absolute;
    left: 164px;
    bottom: 14px;
}
.fog {
    padding-top: 2.5%;
}
.soso {
    position: relative;
    
}
.kber {
font-size: 25px;
color: #4285f4;
}
.cart {
    padding-top: 5%;
    padding-left: 0%;
    padding-right: 10px;
}

@media only screen and (max-width: 990px){
    .cart{
        position: absolute;
        left: 40%;
        bottom: 2%;
        
    }
    
/*navbar*/
</style>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark special-color" style="position: fixed;;width: 100%;z-index: 16;">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">Navbar</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">
    
      <!-- Links -->
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item active fog">
          <a class="nav-link " href="home.html">Home
            <!-- <span class="sr-only">(current)</span> -->
          </a>
        </li>
        <li class="nav-item fog">
          <a class="nav-link " href="products.html">products</a>
        </li>
        <li class="nav-item fog">
            <a class="nav-link " href="#cnt">contacts</a>
          </li>
          
        <li class="nav-item ">
            
            <div class="dropdown">
  <a class="btn btn-primary btn-outline-primary waves-effect " href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="far fa-user pr-2" aria-hidden="true"></i>User
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">subscribe for newsletter</a>
    <a class="dropdown-item" href="#">upsates infos</a>
    <a class="dropdown-item" href="#">deconexion</a>
  </div>
</div>
        </li>
        <li class="nav-item cart">
             <button data-toggle="modal" data-target="#modalCart" style="background: none;border: none;"> <i class="fas fa-shopping-cart kber"></i></li> 
            </button>
  
        <!-- Dropdown -->
              </ul>
      <!-- Links -->
  
      <form class="form-inline soso">
        <div class="md-form my-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <i class="fas fa-search byad"></i>
        </div>
      </form>
    </div>
    <!-- Collapsible content -->
  
  </nav>
  <!--Navbar-->




  <!-- modal1 cart -->
<!-- Modal: modalCart -->
<div class="modal fade" id="modalCart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Your cart</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body">

        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Product name</th>
              <th>Price</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Product 1</td>
              <td>100$</td>
              <td><a><i class="fas fa-times"></i></a></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Product 2</td>
              <td>100$</td>
              <td><a><i class="fas fa-times"></i></a></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Product 3</td>
              <td>100$</td>
              <td><a><i class="fas fa-times"></i></a></td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Product 4</td>
              <td>100$</td>
              <td><a><i class="fas fa-times"></i></a></td>
            </tr>
            <tr class="total">
              <th scope="row">5</th>
              <td>Total</td>
              <td><a><i class="fas fa-times"></i></a></td>
              <td>400$</td>
            </tr>
          </tbody>
        </table>

      </div>
      <!--Footer-->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
        <a href="check.html"><button class="btn btn-primary" >Checkout</button> </a>
      </div>
    </div>
  </div>
</div>

<script>
    document.querySelector('.form-control').addEventListener('focus', function (){
    document.querySelector('.byad').style.display = 'none';
});
</script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://kit.fontawesome.com/a076d05399.js"></script>
      <script src="https://c special-coloruery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      
      <script src="../../public/vendors/mdb/js/mdb.min.js"></script>   

</body>
