<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="../../public/vendors/mdb/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="home.css" >
    
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark special-color">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">Navbar</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">
    
      <!-- Links -->
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item active fog">
          <a class="nav-link " href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item fog">
          <a class="nav-link " href="#">categorie</a>
        </li>
        <li class="nav-item fog">
            <a class="nav-link " href="#">contacts</a>
          </li>
          
        <li class="nav-item ">
          <a class="nav-link btn btn-outline-primary waves-effect  " href="#">log in</a>
        </li>
        <li class="nav-item cart"> <i class="fas fa-shopping-cart kber"></i></li>
  
        <!-- Dropdown -->
              </ul>
      <!-- Links -->
  
      <form class="form-inline soso">
        <div class="md-form my-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <i class="fas fa-search byad"></i>
        </div>
      </form>
    </div>
    <!-- Collapsible content -->
  
  </nav>
  <!--/.Navbar-->
  <!-- carousel -->
    <div id="carouselExampleIndicators" class="carousel slide caro" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="../../public/img/9ahwa3.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" >
        <img src="../../public/img/9ahwa3.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" >
        <img src="../../public/img/9ahwa3.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    </div>
<!-- carousel -->

<!-- boxes -->
  <div class="container-fluid">
    <div class="txto">our website provides</div> 
    <div class="row row1">
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 hii">
        <div class="imagg"><img src="../../public/img/cart.png" class="pngo" alt=""></div>
        <div class="txti" style="padding-top: 30px ;text-align: center; width: 100%;">
        <p class="icon-title">  ordering </p>
        <p >    this is a description for the vallue added with thatpic icon on top     </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 hii">
        <div class="imagg"> <img src="../../public/img/delivry.png" class="pngo" alt=""></div>
        <div class="txti" style="padding-top: 30px ;text-align: center; width: 100%;">
        <p class="icon-title"> delivry </p>
         <p>    this is a description for the vallue added with thatpic icon on top    </p> 
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 hii">
        <div class="imagg"><img src="../../public/img/map.png" class="pngo" alt=""></div>
        <div class="txti" style="padding-top: 30px ;text-align: center;  width: 100%;">
          <p class="icon-title"> localistaion </p>
          <p>this is a description for the vallue added with thatpic icon on top    </p> 
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 hii ">
        <div class="imagg"><img src="../../public/img/map.png" class="pngo"  alt=""></div>
        <div class="txti" style="padding-top: 30px ;text-align: center; width: 100%;">
        <p class="icon-title">  newest products </p>
        <p>this is a description for the vallue added with thatpic icon on top </p>
        </div>
      </div>
    </div>
  </div>
<!-- boxes -->







<!-- Footer -->
<footer class="page-footer font-small feet pt-4">

<!-- Footer Links -->
<div class="container text-center text-md-left">

<!-- Grid row -->
<div class="row">

 <!-- Grid column -->
 <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

   <!-- Content -->
   <h5 class="font-weight-bold text-uppercase mb-4">Footer content</h5>
   <p>uu can get in the section these informations :</p>
   <p>informations about our shop<br>
     our Social media acounts <br>
      our localisation <br>
       our contacts</p>

 </div>
 <!-- Grid column -->

 <hr class="clearfix w-100 d-md-none">

 <!-- Grid column -->
 <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

   <!-- Links -->
   <h5 class="font-weight-bold text-uppercase mb-4">About</h5>

   <ul class="list-unstyled lili">
     <li class="lolo">
       <p class="poop">
         <a href="#!">WORK TIMES</a>
       </p>
     </li>
     <li class="lolo">
       <p>
         <a href="#!">ABOUT US</a>
       </p>
     </li>
     <li class="lolo">
       <p>
         <a href="#!">BLOG</a>
       </p>
     </li>
     <li class="lolo">
       <p>
         <a href="#!">CERTIFICATIONS</a>
       </p>
     </li>
   </ul>

 </div>
 <!-- Grid column -->

 <hr class="clearfix w-100 d-md-none">

 <!-- Grid column -->
 <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

   <!-- Contact details -->
   <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>

   <ul class="list-unstyled">
     <li>
       <p>
         <i class="fas fa-home mr-3"></i> sidi belabbes</p>
     </li>
     <li>
       <p>
         <i class="fas fa-envelope mr-3"></i> info@example.com</p>
     </li>
     <li>
       <p>
         <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
     </li>
     <li>
       <p>
         <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
     </li>
   </ul>

 </div>
 <!-- Grid column -->

 <hr class="clearfix w-100 d-md-none">

 <!-- Grid column -->
 <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

   <!-- Social buttons -->
   <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>

   <!-- Facebook -->
   <a type="button" class="btn-floating btn-fb">
     <i class="fab fa-facebook-f"></i>
   </a>
   <!-- Twitter -->
   <a type="button" class="btn-floating btn-tw">
     <i class="fab fa-twitter"></i>
   </a>
   <!-- Google +-->
   <a type="button" class="btn-floating btn-gplus">
     <i class="fab fa-google-plus-g"></i>
   </a>
   <!-- Dribbble -->
   <a type="button" class="btn-floating btn-dribbble">
     <i class="fab fa-instagram"></i>
   </a>

 </div>
 <!-- Grid column -->

</div>
<!-- Grid row -->

</div>
<!-- Footer Links -->

<!-- Copyright -->
<div class="footer-copyright text-center py-3">© 2020 Copyright:
<a href="Agora.com/"> Agora.com</a>
</div>
<!-- Copyright -->

</footer>

<!-- footer -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="https://c special-coloruery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script src="../../public/vendors/mdb/js/mdb.min.js"></script>
<script src="home.js"></script>

</body>

