
/*navbar*/

.caro {

height = 40% !important;
}
.byad {
    color: white;
    position: absolute;
    left: 164px;
    bottom: 14px;
}
.fog {
    padding-top: 2.5%;
}
.soso {
    position: relative;
    
}
.kber {
font-size: 25px;
color: #4285f4;
}
.cart {
    padding-top: 5%;
    padding-left: 0%;
    padding-right: 10px;
}


/*navbar*/